/*
Utilitários
*/

:root {
    --fundo: #FFFFFF;
    --borda: #000000;
    --cor-link: #ffbb00;
    --cor-texto: #000000;
    --botao: #aaa;
}

@font-face {
    font-family: Dongle-Regular;
    src: url(../fonts/Dongle-Regular.ttf);
}

@font-face {
    font-family: Dongle-Bold;
    src: url(../fonts/Dongle-Bold.ttf);
}

/*
Css's
*/


body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: var(--fundo);
    scroll-behavior: smooth;
    position: relative;
    height: fit-content;
}

p, a {
    font-family: Dongle-Regular, sans-serif;
    font-size: 18pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Dongle-Bold, sans-serif;
    font-size: 24pt;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main::before {
    content: "";
    width: 90%;
    height: 4px;
    background-color: var(--borda);
    border-radius: 4px;
    display: block;
    margin: 0px auto;
}

footer{
    color:  var(--cor-texto);
    text-align: center;
}

footer::before {
    content: "";
    width: 90%;
    height: 4px;
    background-color: var(--borda);
    border-radius: 4px;
    display: block;
    margin: 20px auto;
}

/*
Classes & ID's
*/

.botao-nav {
    background: #B0B0B0;
    color: var(--cor-texto);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 1em;
    transition: ease-in-out;
    transition-duration: .2s;
}

.botao-nav:hover {
    color: var(--fundo);
    background-color: #333333;
}

.container {
    display: grid;
    place-items: center;
}

.animate__animated.animate__fadeInRightBig {
    --animate-duration: 1.5s;
  }


@media (max-width: 428px) {
    .navbar{
        display: flex;
        gap: 0px;
        margin: 0px;
        padding: 0px;
    }

    .logo {
        width: 5rem;
    }

    .navbar a{
        gap: 0px;
        margin: 0px;
        width: 5rem;
        font-size: 14pt;
    }    
}


/* 
    SCROLLBAR
*/

::-webkit-scrollbar-thumb {
    background-color: var(--botao);
    border-radius: 5rem;
}

::-webkit-scrollbar { 
    content: "";
    width: .4rem;
    height: .4rem;
}

