/*
Utilitários
*/

:root {
    --fundo: #FFFFFF;
    --borda: #000000;
    --cor-link: #ffbb00;
    --cor-texto: #000000;
    --botao: #aaa;
}

@font-face {
    font-family: Dongle-Regular;
    src: url(../fonts/Dongle-Regular.ttf);
}

@font-face {
    font-family: Dongle-Bold;
    src: url(../fonts/Dongle-Bold.ttf);
}

/*
Css's
*/


body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: var(--fundo);
    scroll-behavior: smooth;
    position: relative;
    height: fit-content;
}

p, a {
    font-family: Dongle-Regular, sans-serif;
    font-size: 18pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Dongle-Bold, sans-serif;
    font-size: 24pt;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main::before {
    content: "";
    width: 90%;
    height: 4px;
    background-color: var(--borda);
    border-radius: 4px;
    display: block;
    margin: 0px auto;
}

footer{
    color:  var(--cor-texto);
    text-align: center;
}

footer::before {
    content: "";
    width: 90%;
    height: 4px;
    background-color: var(--borda);
    border-radius: 4px;
    display: block;
    margin: 20px auto;
}

/*
Classes & ID's
*/

.botao-nav {
    background: #B0B0B0;
    color: var(--cor-texto);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 1em;
    transition: ease-in-out;
    transition-duration: .2s;
}

.botao-nav:hover {
    color: var(--fundo);
    background-color: #333333;
}

.card {
    display: grid;
    backdrop-filter: blur(12px) saturate(150%);
    -webkit-backdrop-filter: blur(12px) saturate(150%);
    background-color: #8686863b;
    border-radius: 12px;
    border: 1px solid var(--borda);
    justify-items: center;
    width: 30rem;
    height: fit-content;
    padding: 2.5rem;
}

.card img {
    width: 10rem;
    height: auto;
    border-radius: 5rem;    
}

.imgcard {
    padding: 1rem;
    border-radius:7rem;
    border: #0000006c 1px solid;
}

.card span a img{
    width: 3rem;
    transition: ease .3s;
}
.card span a img:hover{
    opacity: .5;
}


.col {
    margin: 13.5px 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.contato {
    display: grid;
    place-items: center;
    color: var(--cor-texto);
}

.contato a {
    color: var(--cor-link);
    text-decoration: none;
    transition: ease-in;
    transition-duration: .2s;
}

.contato a:hover {
    color: #ffea2d;
}
.nav {
    position: relative;
}

.proj {
    border: var(--borda) 4px solid;
    border-radius: 1em;
    width: 256px;
    height: 256px;
    display: grid;
    margin: 5vh 0vw;
    place-self: center;
    place-content: center;
    padding: 20px;
}


.proj:hover .middle {
    opacity: 1;

}

.proj:hover {
    border: #9b9b9b 4px solid;
}

.proj:hover .image {
    opacity: 0.3;

}

.image {
    transition: ease-in-out;
    transition-duration: .3s;
}

.middle {
    position: absolute;
    place-self: center;
    opacity: 0;
    transition: ease-in-out;
    transition-duration: .2s;
}

.middle a {
    text-decoration: none;
    background-color: var(--cor-link);
    color: #5f4601;
    padding: 0px 10px;
    border-radius: 15px;
    transition: ease-in-out;
    transition-duration: .2s;
}

.middle a:hover {
    color: #291e00;
    background-color: #b18200;
}

.animate__animated.animate__fadeInRightBig {
    --animate-duration: 1.5s;
  }


@media (max-width: 1000px) {    
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    .card {
        width: 20rem;
    }
}


@media (max-width: 428px) {
    .navbar{
        display: flex;
        gap: 0px;
        margin: 0px;
        padding: 0px;
    }

    .logo {
        width: 5rem;
    }

    .navbar a{
        gap: 0px;
        margin: 0px;
        width: 5rem;
        font-size: 14pt;
    }    
}


/* 
    SCROLLBAR
*/

::-webkit-scrollbar-thumb {
    background-color: var(--botao);
    border-radius: 5rem;
}

::-webkit-scrollbar { 
    content: "";
    width: .4rem;
    height: .4rem;
}

