/*
Utilitários
*/

:root {
    --azul-escuro: #0E0C1B;
    --azul-borda: #1D1839;
    --cor-link: #ffbb00;
    --cor-texto: #fff;
}

@font-face {
    font-family: Dongle-Regular;
    src: url(../fonts/Dongle-Regular.ttf);
}

@font-face {
    font-family: Dongle-Bold;
    src: url(../fonts/Dongle-Bold.ttf);
}

/*
Css's
*/


body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: var(--azul-escuro);
    scroll-behavior: smooth;
    position: relative;
    height: fit-content;
}

p, a {
    font-family: Dongle-Regular, sans-serif;
    font-size: 18pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Dongle-Bold, sans-serif;
    font-size: 24pt;
    font-weight: bold;
}


main::before {
    content: "";
    width: 90%;
    height: 4px;
    background-color: var(--azul-borda);
    border-radius: 4px;
    display: block;
    margin: 0px auto;
}

footer{
    color:  white;
    text-align: center;
}

footer::before {
    content: "";
    width: 90%;
    height: 4px;
    background-color: var(--azul-borda);
    border-radius: 4px;
    display: block;
    margin: 20px auto;
}

/*
Classes & ID's
*/

.botao-nav {
    background-color: #E5E5E5;
    color: #323232;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 1em;
    transition: ease-in-out;
    transition-duration: .2s;
}

.botao-nav:hover {
    color: #000000;
    background-color: #aaaaaa;
}

.card {
    display: grid;
    backdrop-filter: blur(12px) saturate(150%);
    -webkit-backdrop-filter: blur(12px) saturate(150%);
    background-color: rgba(17, 25, 40, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    justify-items: center;
    width: 30rem;
    height: fit-content;
    padding: 2.5rem;
}

.card img {
    width: 10rem;
    height: auto;
    border-radius: 5rem;    
}

.imgcard {
    padding: 1rem;
    border-radius:7rem;
    border: #aaaaaa6c 1px solid;
}

.card span a img{
    width: 3rem;
    transition: ease .3s;
}
.card span a img:hover{
    opacity: .5;
}


.col {
    margin: 13.5px 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.contato {
    display: grid;
    place-items: center;
    color: #E5E5E5;
}

.contato a {
    color: #ffbb00;
    text-decoration: none;
    transition: ease-in;
    transition-duration: .2s;
}

.contato a:hover {
    color: #ffea2d;
}
.nav {
    position: relative;
}

.proj {
    border: var(--azul-borda) 4px solid;
    border-radius: 1em;
    width: 256px;
    height: 256px;
    display: grid;
    margin: auto;
    place-self: center;
    place-content: center;
    padding: 20px;
}


.proj:hover .middle {
    opacity: 1;

}

.proj:hover {
    border: #180875 4px solid;
}

.proj:hover .image {
    opacity: 0.3;

}

.image {
    transition: ease-in-out;
    transition-duration: .3s;
}

.middle {
    position: absolute;
    place-self: center;
    opacity: 0;
    transition: ease-in-out;
    transition-duration: .2s;
}

.middle a {
    text-decoration: none;
    background-color: #ffbb00;
    color: #5f4601;
    padding: 0px 10px;
    border-radius: 15px;
    transition: ease-in-out;
    transition-duration: .2s;
}

.middle a:hover {
    color: #291e00;
    background-color: #b18200;
}

.animate__animated.animate__fadeInRightBig {
    --animate-duration: 1.5s;
  }


@media (max-width: 1000px) {    
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    .card {
        width: 20rem;
    }
}


@media (max-width: 428px) {
    .navbar{
        display: flex;
        gap: 0px;
        margin: 0px;
        padding: 0px;
    }

    .logo {
        width: 5rem;
    }

    .navbar a{
        gap: 0px;
        margin: 0px;
        width: 5rem;
        font-size: 14pt;
    }    
}


/* 
    SCROLLBAR
*/

::-webkit-scrollbar-thumb {
    background-color: #e6e6e6cb;
    border-radius: 5rem;
}

::-webkit-scrollbar { 
    content: "";
    width: .4rem;
    height: .4rem;
}



#server{
    display: grid;
    color: #fff;
    place-self: center;
    text-align: center;
}
#server p, #server a {
    font-size: 24pt;
    text-decoration: none;
}

#server a{ 
    color: #ff00ff;
    font-size: 30pt;
    transition: ease;
    transition-duration: .3s;
}

#server a:hover {
    color: white;
}
