body {
    background: rgb(0, 0, 0);
    font-family: sans-serif;
    place-items: center;
    
}

#boneco {
    width: 50px;
    height: 50px;
    position: absolute;
}

#boneco,
img {
    width: 50px;
    height: 50px;
    position: absolute;
}

#movendo {
    display: none;
}

a {
    text-decoration: none;
    color: wheat;
    background: #1d1d1d;
    padding: 4px;
    border-radius: 4px;
    border: solid 1px rgb(92, 92, 92);
}

main{
    margin: 3em auto;
    display: grid;
    place-content: center;
}

.back{
    background-color: #1d1d1d;
    display: grid;
    justify-self: center;
    justify-items: center;
    width:  10em;
    margin:auto ;
}

.jogo{
    position: relative;
    display: grid;
    place-self: center;
    width: 600px;
    height: 400px;
    background-color: white;
    border: red 5px solid;
    border-radius: 10px;

}
#boneco{ 
      background:none;
      object-fit: cover;
}

.moeda {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: rgb(255, 220, 24);
    border: rgb(194, 162, 22) 2px solid;
    color: rgb(107, 82, 0);
    place-self: center;
    text-align: center;
    display: block;
    position: absolute;
}

.vida  {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    align-self: start;
    margin: 10px;
}

.contador{
    display: block;
    position: absolute;
    margin: 10px;
    justify-self: end;
    align-self: start;
}