body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
    font-family: Dongle-Regular, Arial;
}

body {
    background: #a7a7a7;
}

.logo {
    width: 128px;
    height: auto;
    grid-column: 1;
    grid-row: 1;
}

.header {
    width: 100vw;
    background: rgb(109, 109, 109);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    place-items: center;
    align-content: center;
}

.header img {
    width: 40vw;
}

#input-checkbox {
    display: none;
}

#checkbox-menu {
    display: grid;
    grid-column: 3;
    grid-row: 1/-1;
    position: relative;
}

#checkbox-menu .menu {
    display: flex;
}

@media (max-width: 700px) {
    #checkbox-menu .menu {
        display: none;
        transition: ease;
        transition-duration: .2s;
    }
    #input-checkbox {
        display: grid;
        opacity: 0;
        width: 48px;
        height: 48px;
        place-self: center;
    }
    #checkbox-menu {
        display: grid;
        grid-column: 3;
        place-self: center;
    }
    #checkbox-menu label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 50px;
        border-radius: 30px;
        background: rgb(253, 165, 0);
        transition: 0.25s ease-in-out;
    }
    #checkbox-menu span:nth-child(1) {
        top: 02vh;
        margin: auto;
    }
    #checkbox-menu span:nth-child(2) {
        top: 04vh;
    }
    #checkbox-menu span:nth-child(3) {
        top: 06vh;
    }
    #input-checkbox:checked+label span:nth-child(1) {
        transform: rotate(45deg);
        top: 04vh;
    }
    #input-checkbox:checked+label span:nth-child(2) {
        opacity: 0;
    }
    #input-checkbox:checked+label span:nth-child(3) {
        transform: rotate(-45deg);
        top: 04vh;
    }
    #input-checkbox:checked+label+.menu {
        display: grid;
        position: absolute;
        right: 12vw;
        top: -2vh;
        font-size: 12pt;
    }
}