        body {
            font-family: arial;
            font-size: 12px;
            display: grid;
            margin: 0px;
            padding: 0px;
            background-color: #000;
        }
        
        h1 {
            text-align: center;
        }
        
        #altura,
        #peso,
        p,
        #result,
        #media,
        input {
            display: grid;
            width: 50%;
            margin: auto;
            text-align: start;
            padding: 10px;
        }
        
        a {
            place-content: center;
            display: grid;
            text-decoration: none;
            margin: 20px;
            color: wheat;
        }
        
        a:hover {
            color: #fff;
        }
        
        #altura,
        #peso {
            border: none;
            border-bottom: 1px solid #000;
            margin: 10px auto;
            width: 40%;
        }
        
        #enviar {
            text-align: center;
            width: 20%
        }
        
        p {
            display: flex;
            justify-content: space-around;
        }
        
        #div-result {
            background: unset;
            width: 40%;
            place-self: center;
            margin: 20px;
            border-radius: 4px;
            font-weight: bold;
        }
        
        #div-result p {
            text-align: center;
        }
        
        .content {
            background-color: rgb(29, 29, 29);
            color: wheat;
            border-radius: 4px;
            place-self: center;
            width: 80%;
            height: auto;
            display: grid;
            margin-top: 10%;
        }
        
        .click {
            color: rgb(29, 29, 29);
            width: 200px;
            place-self: center;
            padding: 2px;
            border-radius: 5px;
        }
        
        .click:hover {
            color: rgb(255, 0, 0);
            text-shadow: rgb(88, 0, 0) 1px 1px;
            background-color: #aaa;
            transition: ease-in;
            transition-duration: 0.3s;
        }