body {
    display: grid;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 10px;
}

div {
    display: grid;
    margin: 9rem;
    place-items: center;
    place-content: center;
    color: #fff;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
}

div button {
    place-self: center;
    width: 100px;
}

.calculadora {
    color: #fff;
    margin: 10px auto;
    place-items: center;
    place-content: center;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
}