    /*
    Variáveis
*/
    
     :root {
        --cor-fundo: #535780;
        --cor-div: #f2f3ff;
        --cor-botao: #c6c7d1;
        --hover-botao: #797a80;
        font-family: Arial, Helvetica, sans-serif;
        scroll-behavior: smooth;
    }
    /*
    Fontes
*/
    
    @font-face {
        font-family: Dongle-Bold;
        src: url("/fonts/Dongle-Bold.ttf");
    }
    
    @font-face {
        font-family: Dongle-Regular;
        src: url("/fonts/Dongle-Regular.ttf");
    }
    /*
    Utilitários
*/
    
    body {
        place-items: center;
        font-family: Dongle-Regular;
        font-size: 16pt;
        scroll-behavior: smooth;
        background: #1f1f1f;
    }
    
    h1 {
        font-family: Dongle-Bold;
        color: rgb(184, 149, 85);
        text-align: center;
    }
    
    .arquivo a {
        text-decoration: none;
        color: white;
        padding: 0px 10px;
        background: #535780;
        justify-self: start;
        border-radius: 4px;
        margin: 10px;
        place-self: center;
        width: 100px;
    }
    
    a:hover {
        background: #99a1f3;
        color: #1f1f1f;
    }
    /* 
    ID's & Classes
*/
    
    .arquivo {
        margin: 10px;
        padding: 5px;
        display: grid;
        place-content: center;
        background: #2b2b2b;
        width: 65%;
        height: auto;
        color: wheat;
        text-align: center;
    }
    
    .content {
        grid: 1000px;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .navbar {
        background: #2b2b2b;
        display: flex;
        padding: 20px;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .p3 {
        background: #2b2b2b;
        width: 50%;
        display: grid;
        grid-column: 1fr;
        margin: auto;
        padding: 10px;
        color: wheat;
        text-align: center;
    }
    
    .ip {
        font-size: 14pt;
        color: rgb(177, 56, 56);
        place-self: center;
        background: #2b2b2b;
        border: none;
    }
    
    #go-back {
        font-size: 18pt;
        background: #2b2b2b;
        place-self: center;
        text-decoration: none;
        color: rgb(184, 100, 100);
    }
    
    #go-back:hover {
        color: #f2f3ff;
        cursor: pointer;
    }