<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/bs/css/bootstrap.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% load static %}
    <script src="{% static '/bs/js/bootstrap.bundle.js' %}" defer></script>
    {% load static %}
    <script src="{% static '/js/script.js' %}" defer></script>

</head>

<body>
    <nav class="navbar m-5">
        <div class="p-2 m-3">
            <a class="navbar-brand" href="/../index">
                {% load static %}
                <img class="logo" src="{% static 'images/logo.svg' %}" alt="" />
            </a>
        </div>
        <div class="ms-auto p-3">
            <a href="#contact" class="botao-nav">Contact-me</a>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="proj">
                        {% load static %}
                        <img src="{% static 'images/IMC.svg' %}" alt="" class="image" />
                        <div class="middle">
                            <a class="botao-visitar" href="../static/projects/calc_imc/calc.html">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="proj">
                        {% load static %}
                        <img src="{% static 'images/bikraft.svg' %}" alt="" class="image" />
                        <div class="middle">
                            <a class="botao-visitar" href="../static/projects/bikcraft/index.html">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="proj">
                        {% load static %}
                        <img src="{% static 'images/camera.tools.svg' %}" alt="" class="image" />
                        <div class="middle">
                            <a class="botao-visitar" href="../static/projects/camera.tools/index.html">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="proj">
            <form method="POST" class="post-form" enctype="multipart/form-data" style="color: white;">
                <fieldset>
                    <legend>Form</legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Submit</button>
                </fieldset>
            </form>
        </div>

    </main>

    <div class="contato" id="contact">
        <h2>Entre em contato:</h2>
        <div class="email ">
            <a href="mailto:eduardo.fernandes.silva13@gmail.com ">eduardo.fernandes.silva13@gmail.com</a>
        </div>
        <div class="telefone ">
            <a href="tel:+55(44)99807-4897 ">(44)99807-4897</a>
        </div>
    </div>
    <footer>
        <div class="footer ">
            <p>Todos os direitos reservados.</p>
        </div>
    </footer>
</body>

</html>