<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sent</title>
    <style>
        @font-face {
            font-family: Dongle;
            src: url(../static/fonts/Dongle-Regular.ttf);
        }
        body{
            font-family: Dongle;
            background-color: #0E0C1B;
            color: #fff;
            text-align: center;
        }

        a {
            color: rgb(119, 119, 119);
        }
    </style>
</head>
<body>
    <h1>File uploaded</h1>
    <a href="../index/">Go back to site</a>
</body>
</html>